.main {
	min-height: calc(100vh - 14vh);

	.details {
		width: 100%;
		min-height: calc(86vh - 15vh);
		display: flex;

		.leftSidebar {
			width: 28%;
			position: relative;
		}

		.rightSidebar {
			max-width: 72%;
		}
	}
}
